<h1>Listing messages</h1>
 
<table>
  <tr>
    <th>Message:</th>
  </tr>
 
  <% @messages.each do |message| %>
    <tr>
      <td> <%= link_to 'Show', message_path(message) %></td>
    </tr>
  <% end %>
</table>